html {
  height: 100%;
}

body {
  height: 100%;
}

body div {
  height: 100%;
}

main {
  padding-left: 20px;
  height: 100%;
}

.splash-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}

.splash-page h1 {
  font-size: 45px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.customer-button {
  height: 60px;
  display: flex;
  justify-content: center;
  width: 50%;
  color: white;
  background-color: rgb(27, 161, 116);
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: transform .3s ease-in-out, background-color .2s ease-in-out, box-shadow .3s ease-in-out;
  font-size: 30px;
}

.customer-button:hover {
  transform: translate3d(0px, -1px, 0px);
  background: rgb(18, 104, 75);
  cursor: pointer;
  box-shadow: 0px 2px 2px .1px rgb(207, 207, 207);
}

.user-section .users {
  display: flex;
  align-items: center;
}

.user-section h3 {
  margin-right: 10px;
}

.new-user-form div {
  display: flex;
  align-items: center;
}

.new-user-form h3 {
  margin-right: 10px;
}

.new-user-form input {
  height: 20px;
}

.create-button {
  height: 25px;
  display: flex;
  justify-content: center;
  width: 120px;
  color: white;
  background-color: rgb(27, 161, 116);
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: transform .3s ease-in-out, background-color .2s ease-in-out, box-shadow .3s ease-in-out;
  font-size: 12px;
  font-weight: bold;
}

.create-button:hover {
  transform: translate3d(0px, -1px, 0px);
  background: rgb(18, 104, 75);
  cursor: pointer;
  box-shadow: 0px 2px 2px .1px rgb(207, 207, 207);
}

.delete-button {
  height: 25px;
  display: flex;
  justify-content: center;
  width: 120px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: transform .3s ease-in-out, background-color .2s ease-in-out, box-shadow .3s ease-in-out;
  font-size: 12px;
  font-weight: bold;
}

.delete-button:hover {
  transform: translate3d(0px, -1px, 0px);
  background: rgb(218, 93, 84);
  cursor: pointer;
  box-shadow: 0px 2px 2px .1px rgb(207, 207, 207);
}